<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/image-map-resizer/1.0.10/js/imageMapResizer.min.js"></script>
<script>
imageMapResize();
</script>
-->
<!-- https://125naroom.com/web/3701 -->
<!--
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
<script>
$(function(){
  $('img[usemap]').rwdImageMaps();
});
</script>

<img src="./assets/clickablePath2.png" usemap="#ImageMap" alt="" />
<map name="ImageMap">
<area shape="rect" coords="4,8,198,129" href="#Architect" alt="Architect" />
<area shape="rect" coords="215,8,425,129" href="#Develop" alt="Develop" />
<area shape="rect" coords="441,11,643,127" href="#Integrate" alt="Integrate" />
<area shape="rect" coords="669,8,871,125" href="#Deploy" alt="Deploy" />
<area shape="rect" coords="0,146,207,268" href="#Administer" alt="Administer" />
<area shape="rect" coords="225,146,439,272" href="#Analyze" alt="Analyze" />
</map>
-->
<div class="image-container">
  <a href="#Architect"><img src="./assets/Map1.png" /></a>
  <a href="#Develop"><img src="./assets/Map2.png" /></a>
  <a href="#Integrate"><img src="./assets/Map3.png" /></a>
</div>
<div class="image-container">
  <a href="#Deploy"><img src="./assets/Map4.png" /></a>
  <a href="#Administer"><img src="./assets/Map5.png" /></a>
  <a href="#Analyze"><img src="./assets/Map6.png" /></a>
</div>