<script src="https://unpkg.com/image-map-resizer@1.0.10/js/imageMapResizer.min.js"></script>
<script>imageMapResize();</script>
<img src="./assets/clickablePath.png" usemap="#ImageMap" alt="" />
<map name="ImageMap">
  <area shape="rect" coords="53,74,1051,680" href="#Architect" alt="" />
  <area shape="rect" coords="1198,72,2225,677" href="#Develop" alt="" />
  <area shape="rect" coords="2358,71,3385,675" href="#Integrate" alt="" />
  <area shape="rect" coords="3506,65,4556,702" href="#Deploy" alt="" />
  <area shape="rect" coords="28,828,1069,1438" href="#Administer" alt="" />
  <area shape="rect" coords="1191,825,2235,1439" href="#Analyze" alt="" />
</map>