<script src="https://cdnjs.cloudflare.com/ajax/libs/image-map-resizer/1.0.10/js/imageMapResizer.min.js"></script>
<script>
imageMapResize();
</script>

<img src="./assets/clickablePath.png" usemap="#ImageMap" alt="" />
<map name="ImageMap">
  <area shape="rect" coords="15,30,261,172" href="#Architect" alt="Architect" />
  <area shape="rect" coords="320,27,571,179" href="#Develop" alt="Develop" />
  <area shape="rect" coords="616,30,877,176" href="#Integrate" alt="Integrate" />
  <area shape="rect" coords="922,32,1188,182" href="#Deploy" alt="Deploy" />
  <area shape="rect" coords="7,226,272,376" href="#Administer" alt="Administer" />
  <area shape="rect" coords="315,218,579,377" href="#Analyze" alt="Analyze" />
</map>